# Lists

## Lists are Sequences of Values

- In a string: values are characters
- In a list: values can be any type (numeric, string, etc.)
- Values in lists: called **elements**, or **items**

## Creating a list:

- put elements inside **square brackets** [ ]

In [119]:
nums = [10, 20, 30, 40]
cheese = ['brie', 'gruyere', 'feta']
print(nums)
print(cheese)

[10, 20, 30, 40]
['brie', 'gruyere', 'feta']

In [17]:
# elements of a list don't have to be of same type

['spam', 2.0, 5, [10,20]] # value types: string, float, integer, another list (nested list)

['spam', 2.0, 5, [10, 20]]

In [20]:
# create an empty list:
new_list = []
print(new_list)

[]

## Accessing Elements in Lists
- similar to how you access characters in a string 
- (with index number, starting from 0)

In [5]:
cheese[0]

'brie'

In [11]:
cheese[-1]

'feta'

In [8]:
cheese[1:]

['gruyere', 'feta']

In [10]:
cheese[:1]

['brie']

## Lists are Mutable
- unlike strings, lists are mutable (you can modify elements of a list)

In [2]:
cheese = ['brie', 'gruyere', 'feta']

cheese[2] = 'gouda'
print(cheese) #now the 3rd element of cheese list will be 'gouda' instead of 'feta'

['brie', 'gruyere', 'gouda']

## List Traversal
- most common way: using `for` loop
- syntax: same as for strings

In [23]:
for element in cheese:
    print(element)

brie
gruyere
gouda

In [10]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num)

1
2
3
4
5

In [9]:
numbers = [1, 2, 3, 4, 5]
for index in range(len(numbers)): 
    numbers[index] *= 10
print(numbers)

[10, 20, 30, 40, 50]

In [ ]:
numbers = [1, 2, 3, 4, 5]
for num in numbers: ## wrong way
    num = num*10

In [36]:
# if you want to not only read all elements of a list
## but also want to update them, you need indices:
numbers = [1, 2, 3, 4, 5]    
for index in range(len(numbers)): 
    numbers[index] *= 10
print(numbers)

[10, 20, 30, 40, 50]

In [7]:
numbers = [1, 2, 3, 4, 5] ## longer way with while loop
ind = 0
while ind < len(numbers):
    numbers[ind] *= 10
    ind += 1
numbers

[10, 20, 30, 40, 50]

In [11]:
numbers = [1, 2, 3, 4, 5] ## another correct way
for ind, val in enumerate(numbers):
    numbers[ind] = val*10
print(numbers)

[10, 20, 30, 40, 50]

In [41]:
test = []
for i in test:
    print('This never happens')
print(test)

[]

In [46]:
len(['spam', 2.0, 5, [10, 20]]) 
# the nested list contains 2 elements, but it is counted as 1 single element

4

## List Slicing:
- similar to how you slice strings

In [64]:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
letters[1:3]

['b', 'c']

In [65]:
letters[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [66]:
letters[2:]

['c', 'd', 'e', 'f']

In [67]:
letters[:2] # ending limit index, not inclusive

['a', 'b']

In [77]:
letters[1:-1]

['b', 'c', 'd', 'e']

In [71]:
letters[-5:-1]

['b', 'c', 'd', 'e']

In [79]:
# updating multiple elements of lists with slicing:
letters = ['a', 'b', 'c', 'd', 'e', 'f']
letters[1:3] = ['x', 'y']
print(letters)

['a', 'x', 'y', 'd', 'e', 'f']

## List Operations

- `+` combines lists together
- `*` repeats lists a specifiednumber of times

In [13]:
nums = [10, 20, 30, 40]
cheese = ['brie', 'gruyere', 'feta']

print(nums)
print(cheese)
print(nums + cheese)

[10, 20, 30, 40]
['brie', 'gruyere', 'feta']
[10, 20, 30, 40, 'brie', 'gruyere', 'feta']

In [14]:
combined = nums + cheese
print(combined)

[10, 20, 30, 40, 'brie', 'gruyere', 'feta']

In [61]:
print(nums + 10) # can only use + for combining lists, not combining list with a different data type (int, str, float, etc.)

TypeError: can only concatenate list (not "int") to list

In [133]:
print(nums + [10]) #10 is put in a list (with square brackets), and so can be combined with (added to) the list nums

[10, 20, 30, 40, 10]

In [135]:
print(nums - 10) # list operations only possible with + and *

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [15]:
nums = [10, 20, 30, 40]
print(nums * 3) # repeats the list 3 times

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

## List Methods
- `append`
- `extend`
- `sort`

In [21]:
# append adds new element to end of a list:
cheese2 = ['brie', 'feta', 'cheddar']
cheese2.append('gouda')
print(cheese2)

['brie', 'feta', 'cheddar', 'gouda']

In [16]:
cheese2 = ['brie', 'feta', 'cheddar']
cheese2.extend('gruyere') ## wrong way
print(cheese2)

['brie', 'feta', 'cheddar', 'g', 'r', 'u', 'y', 'e', 'r', 'e']

In [20]:
cheese2 = ['brie', 'feta', 'cheddar']
cheese2.extend(['gruyere']) ## correct way
print(cheese2)

['brie', 'feta', 'cheddar', 'gruyere']

In [19]:
cheese2 = ['brie', 'feta', 'cheddar']
cheese2 = cheese2 + ['gruyere']
cheese2

['brie', 'feta', 'cheddar', 'gruyere']

In [29]:
cheese2 = ['brie', 'feta', 'cheddar']
print(cheese2.extend(['gouda'])) # void method
#cheese2
cheese3

None

In [31]:
# what should we code if we want cheese2 list be kept the same, but have cheese3 with gouda added to the list with values in cheese2
cheese2 = ['brie', 'feta', 'cheddar']
cheese3 = cheese2 # creating an alias
cheese3.extend(['gouda'])
print(cheese3)
print(cheese2)

['brie', 'feta', 'cheddar', 'gouda']
['brie', 'feta', 'cheddar', 'gouda']

In [34]:
cheese2 = ['brie', 'feta', 'cheddar']
cheese3 = cheese2 ## cheese3 is an alias of cheese2
cheese3 is cheese2 # cheese3 & cheese2 point to the same object, whatever you do to cheese3, will also apply to cheese2

True

In [35]:
cheese3 = cheese2.copy() # create a copy of cheese2
cheese3 = cheese2[:] # create a copy of cheese2
cheese3 is cheese2 ## cheese3 and cheese2 point to different objects, whatever you do to cheese3 will not affect cheese2

False

In [32]:
cheese2 = ['brie', 'feta', 'cheddar']
cheese3 = cheese2 + ['gouda'] 
print(cheese2)
print(cheese3)

['brie', 'feta', 'cheddar']
['brie', 'feta', 'cheddar', 'gouda']

In [112]:
print(nums)
nums.append(50)
print(nums)

[10, 20, 30, 40]
[10, 20, 30, 40, 50]

In [114]:
# extend takes a list as an argument and appends each of the list's elements to another list
nums1 = [1,2,3]
nums2 = [4,5,6]
nums1.extend(nums2)
print(nums1)

[1, 2, 3, 4, 5, 6]

In [22]:
cheese2.extend('provolone')
print(cheese2)
#'provolone' was taken in by extend as a list, each letter being the list's elements, and each was added to the cheese list
#in this case, we should use append to add a new string as one single item to our existing list

['brie', 'feta', 'cheddar', 'gouda', 'p', 'r', 'o', 'v', 'o', 'l', 'o', 'n', 'e']

In [129]:
# sort arranges elements of a list from low to high
cheese.sort()
print(cheese) #sorted in alphabetical order

['brie', 'feta', 'gruyere']

In [132]:
nums3 = [200, 376, 1, 3, 7, 110]
nums3.sort()
print(nums3)

[1, 3, 7, 110, 200, 376]

#### Most of list methods are void:
- they modify lists, and return `None`

## Map, Filter, Reduce

In [86]:
# to add up all numbers in a list, you can use loop like this:
def add_all(t):
    total = 0
    for x in t:
        total = total + x
    return total
add_all(nums) ## same as built-in function sum()

100

In [36]:
# built-in function sum:
nums3 = [200, 376, 1, 3, 7, 110]
sum(nums3)

697

## Deleting Elements from Lists

In [150]:
t = ['a', 'z', 'b', 'c', 'd']
x = t.pop(1) #1 here refers to index 1
# pop removes a specific item from a list based on the specified index number, 
# and returns the removed element
print(x)
print(t)

z
['a', 'b', 'c', 'd']

In [151]:
y = t.pop() #if you don't specify index as argument when using pop, 
#then it deletes and returns the last element
print(y)
print(t)

d
['a', 'b', 'c']

In [161]:
# del operator: use it if you only want to remove elements from lists, 
# but don't need the removed elements
s = ['a', 'b', 'x', 'd', 'c', 100]
del s[-1]  #remove the last item
s

['a', 'b', 'x', 'd', 'c']

In [157]:
z = del s[2] #not valid

SyntaxError: invalid syntax (<ipython-input-157-a621dd48bc68>, line 1)

In [162]:
# remove: use if you know the element you want to remove but not its index
# unlike pop, remove doesn't return the deleted element
s.remove('x')
print(s)

['a', 'b', 'd', 'c']

In [163]:
z = s.remove('c')
print(s)
print(z) # return value from remove is None

['a', 'b', 'd']
None

In [166]:
# to remove more than one element: use del with a slice index:
print(cheese2)
# let's remove all the elements after 'gouda'

['brie', 'feta', 'cheddar', 'gouda', 'p', 'r', 'o', 'v', 'o', 'l', 'o', 'n', 'e']

In [167]:
del cheese2[4:]

In [168]:
cheese2

['brie', 'feta', 'cheddar', 'gouda']

## Lists & Strings

In [89]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

In [90]:
s = 'spinning for the fjords'
t = s.split()
t

['spinning', 'for', 'the', 'fjords']

In [96]:
greetings = 'Hello. Welcome!'
greetings_sep = greetings.split('.')
greetings_sep #notice there's a white space before Welcome

['Hello', ' Welcome!']

In [94]:
greetings = 'Hello. Welcome!'
greetings_sep2 = greetings.split('. ')
greetings_sep2

['Hello', 'Welcome!']

In [100]:
# now what if we want to join the different elements in a list of strings together?
# use join
delim = '. '
greetings2 = delim.join(greetings_sep2)
greetings2

'Hello. Welcome!'

## Objects & Values

## Aliasing

## List Arguments

## Debugging

### In-class exercise:
Design a program that lets the user enter the total rainfall for each of 12 months into a list. The program should calculate and display the total rainfall for the year, the average monthly rainfall, the months with the highest and lowest amounts.

### Homework:

Ask the user to enter a storeâ€™s sales for each day of the week this week.
The amounts should be stored in a list. 
Use a loop to calculate the total sales for the week and display the result.
Output the average sales of the week, shown with only 2 decimal places
Output the minimum and maximum sale values
Create a new list that contains the percentage of sales (2 decimal places) that each day contributed to the total week's sales